.app-bookmark {
  padding: 10px;
}

button {
  background: #bf1919;
  color: white;
  margin: 8px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  outline: 0;
  letter-spacing: 0.04em;
  transition: all 0.15s ease;
  cursor: pointer;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit']:hover {
  background-color: #45a049;
}

div.container {
  border-radius: 5px;
  padding: 20px;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  div.container {
    padding: 0px;
  }
  .tableContainer {
    border-collapse: collapse;
    overflow: auto;
  }
}
